.encoding = "UTF-8"
config.version = "8"
virtualHW.version = "21"
displayName = "{{ vm_name }}"
guestOS = "rockylinux-64"
firmware = "efi"
uefi.secureBoot.enabled = "TRUE"
memSize = "{{ vm_mem }}"
numvcpus = "{{ vm_cpus }}"
nvram = "{{ vm_name }}.nvram"
chipset.motherboardLayout = "acpi"
pciBridge0.present = "TRUE"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge4.functions = "8"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
vmci0.present = "TRUE"
hpet0.present = "TRUE"
floppy0.present = "FALSE"
svga.present = "TRUE"
svga.autodetect = "TRUE"
scsi0.present = "TRUE"
scsi0.virtualDev = "pvscsi"
scsi0:0.present = "TRUE"
scsi0:0.deviceType = "scsi-hardDisk"
scsi0:0.fileName = "{{ vm_name }}.vmdk"
sata0.present = "TRUE"
sata0:0.present = "TRUE"
sata0:0.deviceType = "cdrom-image"
sata0:0.fileName = "{{ datastore }}/images/{{ vm_name }}-seed.iso"
sata0:0.startConnected = "TRUE"
{% if vm_role == 'gateway' %}
ethernet0.present = "TRUE"
ethernet0.virtualDev = "vmxnet3"
ethernet0.networkName = "{{ pub_portgroup }}"
ethernet0.addressType = "static"
ethernet0.address = "{{ ovh_mac | lower }}"
ethernet0.checkMACAddress = "FALSE"
ethernet1.present = "TRUE"
ethernet1.virtualDev = "vmxnet3"
ethernet1.networkName = "{{ portgroup }}"
ethernet1.addressType = "static"
ethernet1.address = "{{ int_mac | lower }}"
{% else %}
ethernet0.present = "TRUE"
ethernet0.virtualDev = "vmxnet3"
ethernet0.networkName = "{{ portgroup }}"
ethernet0.addressType = "generated"
{% endif %}
serial0.present = "TRUE"
serial0.fileType = "file"
serial0.fileName = "{{ datastore }}/{{ vm_name }}/console.log"
serial0.yieldOnMsrRead = "TRUE"
